{% extends 'layouts/base.html.twig' %}

{% block title 'Change password' %}

{% block body %}
    <div class="row">
        <div class="col-md-6 mx-auto">
            <h1 class="my-5 text-center">Change your password</h1>
            {{ form_start(pswResetForm) }}
                {{ form_widget(pswResetForm) }}
                <button class="btn btn-primary btn-lg btn-block" type="submit">Update</button>
            {{ form_end(pswResetForm) }}
        </div>
    </div>
{% endblock %}
