{% extends 'layouts/base.html.twig' %}

{% block body %}
    <h1>Access forbidden</h1>

    <p>
        You cannot access this page : the server returned a "403 Forbidden"
       <br><a href="{{ path('home') }}">return to the homepage</a>.
    </p>
{% endblock %}
